h1 {
    color: aqua;
}

body {
    font-style: italic;
    background-color: palevioletred;
    color: green;
}


/* 
button {
    color: orange;
    background-color: rgb(20, 193, 220);
}  */